.container {
  margin: 0 auto;
  max-width: 1303px;
}

body {
  font-size: 15px;
  line-height: 20px;
}

.bg-red {
  background-color: #f72210;
}

header {
  color: #fff;
}

.btn {
  color: #fff;
  padding: 0;
  border-radius: 0;
}

.btn-primary {
  background-color: #fff;
  color: #f72210;
  border: none;
  width: 150px;
}

.list-bk-color {
  background-color: #fff;
  padding-left: 0;
}

.list-bk-color li {
  list-style: none;
}

.search-input {
  background-image: url('https://g.newsweek.com/www/images/icon-search-glass.svg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 24px 24px;
  height: 32px;
  border: none;
  width: 90px;
  margin-left: 10px;
}

nav {
  border-bottom: 1px solid rgb(231, 230, 230);
}

h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

h5 {
  font-size: 17px;
  line-height: 20px;
}

.nav-link {
  border-right: 1px solid rgb(231, 230, 230);
  color: black;
  padding: 10px;
}

.transparent {
  border-right: transparent;
}

.list-item {
  height: 134px;
  padding: 20px 0;
}

svg {
  fill: #fff;
}

.trapezium {
  color: black;
  width: 120px;
  border-top: #f72210 20px solid;
  border-left: #fff 20px solid;
  margin-left: 41.5px;
}

.option-element {
  font: bold 17px/21px "Roboto Condensed", sans-serif;
  line-height: 20px;
}

.head-shot {
  width: 63px;
  height: 63px;
  background-repeat: no-repeat;
}

.img1 {
  background-image: url('https://d.newsweek.com/en/full/89510/marc-schulman.png?w=63&h=63&f=0544ec46ee21c238aad07cc8eaa35569');
}

.img2 {
  background-image: url('https://d.newsweek.com/en/full/1575501/forman-andrew.webp?w=63&h=63&f=05c96bda48a8f56b570d9c2153136832');
}

.img3 {
  background-image: url('https://d.newsweek.com/en/full/1575395/richard-rubenstein.webp?w=63&h=63&f=8b87758ea9d3bff05635e4e4ff170093');
}

.img4 {
  background-image: url('https://d.newsweek.com/en/full/1506965/charlie-kirk.webp?w=63&h=63&f=dadcbab6cd325ee70d1bfe4df5a01410');
}

.debate {
  border-top: rgb(231, 17, 60) 6px solid;
}

.blue-color {
  border-top: rgb(107, 184, 209) 6px solid;
}

.debate img {
  max-width: 133px;
  height: 95px;
}

.double-line {
  border-top: grey double 5px;
}

h6 {
  text-transform: uppercase;
}

.double-line img {
  width: 75px;
  height: 75px;
  margin-top: -20px;
}

.latest-news {
  border-top: lightgray 1px solid;
}

.icon {
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}

.sign-up-section {
  background-color: lightgray;
}

.sign-up-btn {
  background-color: #666;
  border: none;
  color: aliceblue;
}

.min-content-height {
  height: min-content;
}
